@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --cellUnOpenend: var(--ctp-frappe-mauve);
    --cellHover: var(--ctp-mocha-lavender);
    --cellOpened: var(--ctp-mocha-crust);
    --flag: var(--ctp-mocha-overlay0);
    --flagHover: var(--ctp-mocha-overlay1);
    --altText: var(--ctp-mocha-crust);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--ctp-mocha-text);
    background-color: var(--ctp-mocha-crust);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.minesweeper {
    display: grid;
    flex-wrap: wrap;
}

.cell {
    background-color: var(--cellUnOpenend);
    color: var(--ctp-mocha-text);
    padding: 20px;
    text-align: center;
    width: 0.25rem;
    height: 0.25rem;
    border: 2px solid var(--cellUnOpenend)
}

.cell:hover {
    background-color: var(--cellHover);
    border-color: var(--cellHover);
    color: var(--altText)
}
.open{
    position: relative;
    background-color: var(--cellOpened);
    border: 2px solid var(--cellOpened);
}
.open:hover {
    background-color: var(--cellOpened);
    border-color: var(--cellOpened);
    color: var(--ctp-mocha-text);
}

/*
.open::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 44px;
    height: 44px;
    background-color: var(--cellUnOpenend);
    z-index: -1;
}
*/


.flagged {
    background-color: var(--flag);
    border-color: var(--flag);
    color: var(--altText);
}

.flagged:hover {
    background-color: var(--flagHover);
    border-color:var(--flagHover);
}

.noInteract .cell {
    cursor: not-allowed;
}