@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--ctp-mocha-text);
    background-color: var(--ctp-mocha-crust);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.minesweeper {
    display: grid;
    flex-wrap: wrap;
}

.cell {
    background-color: var(--ctp-mocha-base);
    color: var(--ctp-mocha-text);
    padding: 20px;
    text-align: center;
    width: 40px;
    height: 40px;
    border: 2px solid var(--ctp-mocha-base)
}

.cell:hover {
    background-color: var(--ctp-mocha-mauve);
    color: var(--ctp-mocha-base)
}
.open{
    background-color: var(--ctp-mocha-mantle);
    border: 2px solid var(--ctp-mocha-mantle);
}
.open:hover {
    background-color: var(--ctp-mocha-mantle);
    color: var(--ctp-mocha-text);
}

.flagged {
    border: 2px solid var(--ctp-mocha-red);
}

.game-over .cell {
    cursor: not-allowed;
}

.game-won {
    background: yellow;
}

.game-over {
    background: red;
}

.game-won .cell {
    cursor: not-allowed;
}